<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="ROSSuite" parallel="tests" thread-count="5">
    
    <test name="ROSTest" preserve-order="true">
        <classes>
        <!-- Add Lead -->
            <class name="tests.Add_Lead.AddProjectLeadTest"/>
            <class name="tests.Add_Lead.AddFundLeadTest"/>
            <class name="tests.Add_Lead.AddFurnitureLeadTest"/>
            
            <!-- Add Follow Up -->
            <class name="tests.Follow_Ups.AddProjectFollowUpTest"/>
            <class name="tests.Follow_Ups.AddFurnitureFollowUpsForTest"/>
            <class name="tests.Follow_Ups.AddFundFollowUpsForTest"/>
            
            <!-- Edit Lead -->
            <class name="tests.Edit_Lead.EditProjectLeadTest"/>
            <class name="tests.Edit_Lead.EditFundLeadTest"/>
            <class name="tests.Edit_Lead.EditFurnitureLeadTest"/>
        </classes>
    </test>
</suite>
